* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 4fr 15fr;
    grid-template-rows: auto 1fr;
    max-width: 1100px;
    margin: 40px auto 0;
    max-height: 600px;
}

.header {
    background-color: red;
    grid-column: 2 / 3;

}

.sidebar {
    background-color: rgb(0, 149, 255);
    color: white;
    grid-row: 1 / 3;
    padding: 15px;
}

.main {
    background-color: green;
    display: grid;
    grid-template-columns: 13fr 5fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: 10px;
}

.brand {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.brand svg {
  width: 3em;
  height: 3em;
  fill: currentColor;
}

ul {
    list-style-type: none;
}

ul svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.header svg {
    width: 1em;
    height: 1em;
}

.upperhead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lowerhead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bottomleft {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: start;
}

.bottomleft svg {
    grid-row: 1 / 5;
    width: 70px;
    height: 70px;
}

.greeting {
    grid-row: 2 / 3;
}

.name {
    grid-row: 3/4;
}

.bottomright {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;

}

.header button {
    padding: 6px 20px;
    background: lightblue;
}

.project-container div {
    width: auto;
    height: auto;
    background-color: brown;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    grid-row: 2 / 5;
}

.main span:nth-of-type(3) {
    grid-column: 2 / 3;

}

.announcements, .trending {
    width: auto;
    height: auto;
    background-color: beige;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 20px;
    border-radius: 10px;
    font-size: 10px;
}

.announcements div {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.announcements div:last-child {
    border: none;
    padding-bottom: 0;
}

.announcements span {
    font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.project-icons svg {
    width: 1.5em;
    height: 1.5em;
}

.trending {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.trending svg {
    width: 2em;
    height: 2em;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 12px;
}

.subtitle {
    font-size: 12px;
}